* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: #3498db;
}

.App {
  height: 100vh;
}

header {
  height: 100px;
  display: flex;
  padding: 0 60px;
  border-bottom: 1px solid #e7eaf3;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.searchbar-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.searchbar-container a {
  display: flex;
  align-items: center;
}

input {
  padding: 10px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid black;
}

button {
  padding: 10px;
  height: 54px;
  border-radius: 5px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}

a.title {
  color: black;
}
a {
  color: #1e40af;
}

.body {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: #f8f9fa;
}

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21325b;
  color: white;
}

.info-container {
  height: 70%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.latest-container {
  border: 2px solid black;
  overflow-y: scroll;
  width: 45%;
  height: 630px;
}

.single-tx-container {
  border: 2px solid black;
  padding: 20px;
  min-height: 650px;
  overflow-wrap: break-word;
}

.txns-container {
  overflow-y: scroll;
  border: 2px solid black;
}

.txns-container > .row > div {
  width: 200px;
}

.block-container {
  border: 2px solid black;
  padding: 20px;
  min-height: 500px;
}

.logs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log-item {
}

.log-hash {
  background-color: #d9f99d;
  padding: 10px;
  cursor: pointer;
}

.collapsible {
  display: none;
  padding: 10px;
  overflow: hidden;
  background-color: lightgrey;
  overflow-wrap: break-word;
  flex-direction: column;
  gap: 10px;
}

.tx-item {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.card-header {
  padding: 10px;
  border-bottom: 2px solid black;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  max-height: 700px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
  border: 2px solid black;
}

.row > * {
  width: 220px;
}

.value {
  width: 160px;
  text-align: right;
}

.link {
  color: #1e40af;
  cursor: pointer;
}
