* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

header {
  height: 100px;
  background-color: #fef3c7;
  display: flex;
  padding-left: 60px;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
}

.body {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  padding: 60px;
}

footer {
  height: 60px;
  background-color: #fef3c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  height: 70%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.latest-container {
  border: 2px solid black;
  overflow: scroll;
  width: 45%;
  height: 630px;
}

.tx-container {
  border: 2px solid black;
  padding: 20px;
  min-height: 650px;
}

.logs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log-item {
}

.log-hash {
  background-color: #d9f99d;
  padding: 10px;
  cursor: pointer;
}

.collapsible {
  display: none;
  padding: 10px;
  overflow: hidden;
  background-color: lightgrey;
  overflow-wrap: break-word;
  flex-direction: column;
  gap: 10px;
}

.card-header {
  padding: 10px;
  border-bottom: 2px solid black;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
  border: 2px solid black;
}

.value {
  width: 140px;
  text-align: right;
}

.link {
  color: #1e40af;
  cursor: pointer;
}
